/* WEBKIT SCROLLBARS */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: #333;
    -webkit-border-radius: 0;
}

::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    background-color: #999;
}

::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;
    -webkit-border-radius: 3px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #999;
}

::-webkit-scrollbar-corner {
    background-color: #2D2D2D;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
    overflow: hidden;
    font: 13px normal Arial, Helvetica, sans-serif;
}

/* HEADERS */

h1 {
    font-size: 26px;
    padding: 0 0 10px 0;
    text-transform: capitalize;
}

h2 {
    font-size: 20px;
    padding: 0 0 20px 0;
    text-transform: capitalize;
}

a, a:link, a:hover {
    font-weight: normal;
    cursor: pointer;
}

/* FORM ELEMENTS */

label { 
    display: block; 
    margin: 10px 0 10px 0; 
    font-size: 15px; 
    font-weight: normal; 
    text-transform: capitalize; 
}        
    
input, select, textarea {
    display: block;
    width: 100%;
    margin: 5px 0 20px 0;
    padding: 8px 10px;
    font-size: 13px;
    color: #fff;
    background: #555;
	border: 1px solid #222;
	outline: none;
	border-radius: 4px;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.85), 0 1px 0 rgba(255, 255, 255, 0.1);
	background-clip: padding-box;
	transition: all 0.4s ease-in-out;
}

textarea { font-family: Arial, Helvetica, sans-serif; min-height: 150px; }

input:focus, select:focus, textarea:focus{
    outline: none;
    border: 1px solid #b9dafa;
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.7), 0 0 3px #b9dafa;
}

button { 
    display: inline-block;      
    width: auto;
    margin: 5px 15px 5px 0;
    padding: 6px 25px;
    cursor: pointer;
    color: #fff;
    text-shadow:0px -1px 0px #323837;
    font-weight: bold;
    font-size: 14px;
    background-color: #424242;
    border-radius: 4px;
    transition: .3s all;
    box-shadow: inset 0px 1px 2px 0px rgba(136,148,156, 0.4);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #636363), color-stop(1, #434343));
    background:-moz-linear-gradient(top, #636363 5%, #434343 100%);
    background:-webkit-linear-gradient(top, #636363 5%, #434343 100%);
    background:-o-linear-gradient(top, #636363 5%, #434343 100%);
    background:-ms-linear-gradient(top, #636363 5%, #434343 100%);
    background:linear-gradient(to bottom, #636363 5%, #434343 100%);
    border: 1px solid #565e69;
}
    
.btn-left { 
    margin-right: 0;
    border-radius: 3px 0 0 3px;
}
    
.btn-mid {
    margin-left: -4px; /* Inline-block fix */
    margin-right: 0;
    border-radius: 0;
    border-left: 1px solid transparent;
}

.btn-right {
    margin-left: -4px; /* Inline-block fix */
    margin-right: 0;
    border-radius: 0 3px 3px 0;
    border-left: 1px solid transparent;
}

button:hover, button:hover{
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #434343), color-stop(1, #636363));
    background:-moz-linear-gradient(top, #434343 5%, #636363 100%);
    background:-webkit-linear-gradient(top, #434343 5%, #636363 100%);
    background:-o-linear-gradient(top, #434343 5%, #636363 100%);
    background:-ms-linear-gradient(top, #434343 5%, #636363 100%);
    background:linear-gradient(to bottom, #434343 5%, #636363 100%);
}

/* NODEDIT */

#nodedit {
    width: 100%;
    height: 100%;
}

/* CONNECT */

#connect {
    position: absolute;
    left: 50%;
    top: 20%;
    width: 350px;
    padding: 35px;
    margin: 0 0 0 -175px;
    background-color: #1f1e1f;
    border: 1px solid #333;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
}

#connect h1 span { padding-right: 15px; }

/* MESSAGE */

#message {
    display: block;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    width: 500px;
    left: 50%;
    margin: 0 0 0 -250px;
    padding: 12px 20px 12px 20px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    border: 1px solid #333;
    border-bottom: none;
    border-radius: 12px 12px 0px 0px;
    background-color: #333;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .9);
    background: #1f1e1f;
}

#message span { padding-right: 10px; }

#message.error {
    border-top: 12px solid #9c1313;
}

#message.success {
    border-top: 12px solid #126e12;
}

/* TOP-BAR */

.top-bar {
    display: block;
    width: 100%;
    height: 40px;
    background: #333;
    padding: 10px 15px;
    overflow: hidden;
    border-bottom: 3px solid #292829;
    -webkit-user-select:none;
    -moz-user-select:none;
}

/* FILEMANAGER */

#filemanager {
    width: 350px;
    height: 100%;
    float: left;
    padding: 0;
    border-right: 3px solid #333;
    overflow: scroll;
    -webkit-user-select:none;
    -moz-user-select:none;
}

#filemanager ul {
    display: block;
    margin: 10px;
}

#filemanager ul ul {
    margin: 0 0 0 20px;
}

#filemanager ul a, #filemanager .context-menu a {
    display: block;
    padding: 6px 10px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 4px;
    border: 1px solid transparent;
}

#filemanager ul a:hover,
#filemanager ul a.menu-open,
#filemanager .context-menu a:hover {
    background-color: #2e2e2e;
    border: 1px solid #3d3d3d;
}

#filemanager ul a span {
    padding-right: 8px;
    color: #ccc;
}

#filemanager ul a span.icon-file {
    padding-right: 9px;
    padding-left: 2px;
}

#filemanager .top-bar a {
    display: inline-block;
    margin: 0 15px 0 0;
    font-size: 22px;
    color: #a8a8a8;
    transition: .3s color;
    cursor: pointer;
    text-shadow: 1px 1px 1px #000;
}

#filemanager .top-bar a:hover {
    color: #fff;
}

#filemanager .context-menu {
    position: absolute;
    width: 150px;
    background-color: #1f1e1f;
    border: 1px solid #333;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .9);
    z-index: 9999;
    overflow: hidden;
    padding: 10px;
}

#filemanager .context-menu a span {
    display: inline-block;
    width: 18px;
    text-align: center;
}

.icon-folder-open, .icon-folder-close {
    color: #c4a26a !important;
}

.icon-file {
    color: #fff !important;
}

/* EDITOR */

#editor {
    width: auto;
    height: 100%;
    margin-left: 350px;
}

#editor #instances {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#editor #instances li {
    width: 100%;
    height: 100%;
}

/* TABS */

#tabs {
    padding: 0 20px 0 0;
    margin: 0;
}

#tabs li, #tabs-reveal-menu li {
    display: block;
    float: left;
    width: 155px;
    height: 29px;
    margin: 8px 10px 0 0;
    padding: 6px 10px 0 10px;
    background-color: #424242;
    border: 1px solid #595859;
    border-bottom: 0;
    font-size: 12px;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    transition: .3s background-color;
    cursor: pointer;
}

#tabs-reveal-menu li {
    border-radius: 5px;
}

#tabs li:hover, #tabs-reveal-menu li:hover {
    background-color: #545454;
}

#tabs li.active, #tabs-reveal-menu li.active {
    background: -moz-linear-gradient(-45deg,  rgba(122,122,122,1) 0%, rgba(84,84,84,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(122,122,122,1)), color-stop(100%,rgba(84,84,84,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(122,122,122,1) 0%,rgba(84,84,84,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(122,122,122,1) 0%,rgba(84,84,84,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(122,122,122,1) 0%,rgba(84,84,84,1) 100%); /* IE10+ */
    background: linear-gradient(135deg,  rgba(122,122,122,1) 0%,rgba(84,84,84,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7a7a7a', endColorstr='#545454',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#tabs li label, #tabs-reveal-menu li label {
    padding: 0;
    margin: 0;
    font-weight: normal;
    width: 105px;
    font-size: 13px;
    overflow: hidden;
    cursor: pointer;
    text-transform: none;
}

#tabs li label.changed::before, #tabs-reveal-menu li label.changed:before {
    content: '\2217  ';
}

#tabs li a, #tabs-reveal-menu li a {
    float: right;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000;
    color: #ccc;
    transition: .3s color;
}

#tabs li a:hover, #tabs-reveal-menu li a:hover {
    color: #e01b1b;
}

#tabs .tab-sort-placeholder {
    border: 1px dashed #666;
    border-bottom: none;
}

#tabs-reveal {
    position: absolute;
    top: 0;
    right: 0;
    color: #a6a6a6;
    font-size: 24px;
    padding: 9px 15px;
    transition: .3s color;
    font-weight: normal;
    transition: .3s color;
}

#tabs-reveal:hover {
    color: #fff;
}

#tabs-reveal-menu {
    display: none;
    position: absolute;
    top: 39px;
    right: 5px;
    width: 185px;
    background-color: #1f1e1f;
    border: 1px solid #333;
    border-radius: 15px 0px 15px 0px;
    padding: 15px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .9);
    z-index: 999;
}

/* MODAL */

#modal {
    position: absolute;
    left: 50%;
    top: 15%;
    padding: 25px;
    background-color: #1f1e1f;
    border: 1px solid #333;
    border-radius: 15px 0px 15px 0px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .9);
    z-index: 9999;
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    z-index: 9998;
}

#modal a.icon-remove {
    float: right;
    padding: 5px 0 5px 5px;
    transition: .3s color;
    font-size: 18px;
    text-shadow: 1px 1px 1px #000;
}

#modal a.icon-remove:hover {
    color: #e01b1b;
}

#modal h2 {
    padding: 0 0 10px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #333;
}

/* DIFFVIEW */

#diffreg {
    max-height: 350px;
    margin: 15px 0;
    overflow: auto;
    border: 1px solid #333;
}

table.diff {
    width: 100%;
    border-collapse:collapse;
	border:1px solid #333;
}

table.diff tbody { 
	font-family:Courier, monospace
}

table.diff tbody th {
	font-family:verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
	background:#262526;
	font-size:11px;
	font-weight:normal;
	border:1px solid #333;
	color:#fff;
	padding:.3em .5em .1em 2em;
	text-align:right;
	vertical-align:top;
    width: 30px;
}

table.diff thead {
	display: none;
}

table.diff thead th.texttitle {
	text-align:left
}

table.diff tbody td {
	padding:0px .4em;
	padding-top:.4em;
	vertical-align:top;
}

table.diff .empty {
	background-color:#DDD;
}

table.diff .replace {
	background-color:#FD8
}

table.diff .delete {
	background-color:#991717;
}
table.diff .skip {
	background-color:#EFEFEF;
	border:1px solid #AAA;
	border-right:1px solid #BBC;
}

table.diff .insert {
	background-color:#4f964f
}

table.diff th.author {
    display: none;
}